<main>

    <h1>Movie Application</h1>
    <p>The Movie Application displays a movie list from an external API.</p>
    <p>Displays further movie details by using an expandable row. Selected by pressing on movie title or movie
        genre.</p>

    <h3>Technical Details</h3>
    <p>Uses lazy loading when displaying the expandable information row.</p>
    <p>Use an interceptor for global error handling of basic Http Errors.</p>
    <p>Go to the <a href="https://github.com/GeorgeMpro/movie-list-app">GitHub repository</a> to view the source code.
    </p>

</main>
